*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #fff8f0;
  font-size: var(--van-font-size-lg);
  color-scheme: light;
}

#app {
  height: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
